.App {
    text-align: center;
}

.App h1 a {
    color: #fff;
    text-decoration: none;
}

.App h3 {
    color: #fff;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

input {
    height: 50px;
    margin: 20px;
    width: 50%;
    outline: none;
}

input::placeholder {
    font-size: 18px;
    text-align: center;
    word-spacing: normal;
}

button {
    height: 50px;
    margin: 20px;
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: hsl(189, 24%, 44%);
    cursor: pointer;
    border-color: white 2px solid;
}

.container {
    background-color: hsl(189, 70%, 19%);
    /* height: 20px; */
    width: 50%;
    margin: auto;
    border-radius: 5px;
}

.container p {
    color: #fff;
}

input[type=text] {
    font-size: 30px !important;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}


/* Tables ===========================*/

#tableContainer {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#tableContainer td,
#tableContainer th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tableContainer tr:nth-child(even) {
    background-color: #f2f2f2;
}

#tableContainer tr:hover {
    background-color: #ddd;
}

#tableContainer th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

.deleteBtn {
    background-color: tomato;
}


/* ======Loader===== */

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/*=========Loader ends  */


.button-styles button {
    padding: 12px;
    margin: 10px;
    cursor: pointer;
    border-radius: 20px;
}

.button-styles button:hover {
    background-color: tomato;
}

@media screen and (max-width: 600px) {
   .App{
       max-width: 350px;
       margin: 0 auto;
       width: 100vw;
   }
    .container{
        width: 350px;
        margin: 0 auto;
    }
     #tableContainer {
     max-width: 350px;
     margin: 0 auto;
     width: 300px;
    }
    
    button{
        height: 40px;
    } 
  }