.card {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    padding-top: 100px;
}

.container {
    display: flex;
    width: 240px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 1rem;
}

.container img {
    width: 100px;
    height: 100px;
}

.container p {
    line-height: 30px;
    letter-spacing: .02em;
    text-align: center;
    max-width: 300px;
    margin-top: 5rem;
}

.text {
    color: #858590;
    text-align: center;
    line-height: 30px;
    letter-spacing: .02em;
}

.subtitle {
    font-style: normal;
    font-size: 1.5rem;
    padding-top: 0.4rem;
    font-weight: bolder;
    color: #12082d;
    margin-bottom: 1.5rem;
}