<section id='about'>
    <div class="hero">


        <h2>About KodeMonk</h2>
        <!-- I work to create innovative solutions that inspire and foster memorable relationships between brands and clients. With focus in Backend and FrontEnd Web Development, I strive to create scalable and reusable products through elegant but efficient web practices. -->
Use a real API to test your Front-End project. Kodemonk is a tool that replicates real-world application scenarios. To use, simply copy the URI and paste it into your AJAX request. Create a real-life response code.<span style="color:green;"> GET</span> ,<span style="color:orange;"> POST</span>,<span style="color:blue;"> PUT</span>, and <span style="color:red;">DELETE</span> are all supported methods. During the development phase, access is free 24  hours a day.      </p>

</section>