<section class="footer" id="lab_social_icon_footer">
    <!-- Include Font Awesome Stylesheet in Header -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container">
        <!-- copyright &copy; NT -->

        <div class="text-center center-block">
            <p>Follow us:</p>
            <a href="https://dev.to/drsimplegraffiti" target="_blank"><i id="social-tw" class="fab fa-dev fa-3x social" ></i></a>
            <a href="https://github.com/drsimplegraffiti" target="_blank"><i id="social-gp" class="fa fab fa-github fa-3x social" ></i></a>
            <a href="mailto:#" target="_blank" id="contact"><i id="social-em" class="fa fa-envelope-square fa-3x social" ></i></a>
        </div>
    </div>
    <div class="copyright"><a href="/" class="copyright-link">&copy;KodeMonk</a></div>
</section>
<!-- <i class="fab fa-dev"></i> -->