<section id="video-container">

<video controls autoplay muted class='how-to-use' id="start-now">
  <source src="hy.mp4" type="video/mp4">
  <source src="hy.ogg" type="video/ogg">
  Your browser does not support the video tag.
</video>
</section>