<section>
    <div class="card">
        <div class="img-container">
            <img src="img/kodemonkimage.png" alt=" main-pics " loading="lazy" class="main-image"></div>
    </div>
        <div class='wrapper-typewriter'>
    <h1 class="typing-demo">Get started with Kodemonk</h1>
    </div>
</section>