<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kodemonk || success</title>
</head>

<body>
<h1>Succesfully subscribed</h1> 
<button><a href="/kodemonk"></a> Back to Home</button>
</body>

</html>